.SearchInput {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 100%;
    max-width: 20rem;
    -webkit-tap-highlight-color: transparent;
}